
<!DOCTYPE html>
<html>
  <head>
    <title>Header Parser Microservice</title>
    <meta name="description" content="A Header Parser Microservice Application">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Courgette|Croissant+One">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class ="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center" id="instructions">
            <h1>Header Parser Microservice</h1>
            <h3>User Stories</h3>
            <ol class="list-group">
                <li class="list-group-item">I can get the IP address, language and operating system for my browser.</li>
            </ol>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Usage</strong></h3>
                </div>
                <div class="panel-body">
                  <a href="/views/parsedHeader" target="_blank"><strong>Click here to generate parsing</strong></a>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center" id="info">
            freecodecamp <a href="https://www.freecodecamp.com/joshhazelhurst123" target="_blank">jhazelhurst123</a>
          </div>
        </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
